<div id="landing"></div>
<div id="contactanos">
  <div class="container">
    <div class="row justify-content-center mt-10">
      <div class="col-sm-6">
        <div class="row justify-content-center">
          <div class="col-xs-8">
            <h4 class="text-center btn btn-primary">FORMULARIO DE CONTACTO</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <form class="mb-10" action="javascript();" method="post">
          <div class="form-group my-4"><input class="form-control" type="text" placeholder="NOMBRE Y APELLIDO"></div>
          <div class="form-group my-4"><input class="form-control" type="email" placeholder="E-MAIL"></div>
          <div class="form-group my-4"><textarea class="form-control" placeholder="MENSAJE" rows="5"></textarea></div>
          <div class="form-group my-4">
            <input type="submit" class="btn btn-primary" value="Enviar">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
